html {
  font-size: 14px;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#container {
   margin: 0 auto;
   padding-top: 4em;
   max-width: 1140px;
}
