@import './_variables.scss';

$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$react-dates-color-primary: $color-primary;
$react-dates-color-primary-shade-1: #33dacd !default;
$react-dates-color-primary-shade-2: #66e2da !default;
$react-dates-color-primary-shade-3: #80e8e0 !default;
$react-dates-color-primary-shade-4: #b2f1ec !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;     // #cacccd
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: $color-primary;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: $color-placeholder !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: white !default;
$react-dates-color-focus: $color-primary !default;

@import '~react-dates/lib/css/datepicker';

@media screen and (min-width: 0px) and (max-width: 400px) {
  .react-timeslot__day {
    &:first-child {
      border-right: 0;
    }

    &:not(:first-child) {
      display: none;
    }
  }
}

.react-timeslot {
  &__header {
    background-color: darken(white, 8%);
    font-weight: bold;
    color: #333;
    display: flex;
  }

  &__header-label {
    padding: 1em;
  }

  &__header-controls {
    margin-left: auto;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header-calendar {
    position: absolute;
    z-index: 10;
    right: 16px;
    top: 35px;
  }

  &__header-control {
    border: 0;
    background: none transparent;
    height: 100%;
    padding: 0 1em;
    position: relative;
    cursor: pointer;
    outline: 0;
    border-right: 1px solid darken(white, 15%);

    &:hover {
      color: darken(#828282, 20%);
    }

    &:last-child {
      border-right: 0;
    }

    &--disabled {
      i {
        opacity: .4;
      }

      cursor: not-allowed;
    }
  }

  &__days {
    display: flex;
    justify-content: space-between;
  }

  &__day {
    background-color: #F3F3F3;
    flex: 1;
    border-right: 1px solid $color-border;
    min-height: 40em;

    &:last-child {
      border-right: 0;
    }
  }

  &__day-today {
    font-weight: bold;
  }

  &__day-header {
    padding: 1em;
    border-bottom: 1px solid $color-border;
    text-align: center;
  }

  &__day-header-name {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
    color: #333;
    margin-bottom: .5em;
  }

  &__day-header-date {
    color: #434343;
  }

  &__day-slots {
    text-align: center;
  }

  &__day-slot-radio {
    margin-right: 1em;
  }

  &__day-slot {
    cursor: pointer;
    color: #858585;
    line-height: 1;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &--selected {
      color: $color-primary;
    }

    &--selected {
      font-weight: bold;
    }
  }

  &__day-empty {
    color: #ACACAC;
    line-height: 1;
    padding: 2em 0;
  }

  &__period {
    &:last-child {
      .react-timeslot__period-header {
        border-bottom: 0;
      }
    }
  }

  &__period-header {
    background-color: darken(white, 40%);
    color: white;
    text-align: left;
    padding: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    user-select: none;
    border-bottom: 1px solid darken(white, 30%);

    &:hover {
      background-color: darken(darken(white, 40%), 5%);
    }
  }

  &__period-header-arrow {
    margin-left: auto;
    opacity: .4;

    i {
      font-size: 12px;
    }
  }

  &__period-header-icon {
    margin-right: 1em;
  }

  &__period-slots {
    padding: 1.5em;
    display: none;
  }

  &__period--is-open {
    .react-timeslot__period-header {
      background-color: darken(white, 60%);
      border-bottom: 0;
    }

    .react-timeslot__period-slots {
      display: block;
    }
  }
}
